# Local development
# VITE_API_URL=http://localhost:5000/api
# VITE_UPLOADS_URL=http://localhost:5000

# Production (CPanel / subdomain)
VITE_API_URL=https://backend.nandinilayoutclub.in/api
VITE_UPLOADS_URL=https://backend.nandinilayoutclub.in

VITE_WHATSAPP_NUMBER=919876543210
VITE_SITE_NAME=Nandini Layout Club
